.top-nav-bar__topic-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}

.top-nav-bar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
}